.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="file"] {
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

input[type="file"]:hover {
  border-color: #c153e2;
}

button {
  background-color: #c153e2;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #691981;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

thead {
  background-color: #c153e2;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
