<div class="container">
  <h2>Upload Employee Details</h2>
  <form (submit)="onUpload(); $event.preventDefault()" enctype="multipart/form-data">
    <input type="file" (change)="onFileSelected($event)" accept=".csv" />
    <button type="submit">Upload</button>
  </form>
</div>

<div class="container">
  <h2>Employee Details</h2>
  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Employee ID</th>
        <th>Email ID</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      @for(emp of employees;track emp){
        <tr >
        <td>{{ emp.name }}</td>
        <td>{{ emp.empId }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.mobile }}</td>
        
      </tr>

      }
      
    </tbody>
  </table>
</div>
